<Style>
#playground-container {
    height: 400px;	
}
table {
	
	width: 100%;
	border: 1px solid black;
	
  }
  p {
    color: red;
}
  
  th, td {
	padding: 8px;
	text-align: left;
	
  }
body, html{
     height: 100%;
	background-repeat:repeat;
 	
	 background-size:cover;
    background-position: center; 
	background-attachment: fixed;
}
.main{
 	margin:85px 50px;
	
	}
	
.main-center{
	 margin-top: 80px;
	 
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background: #c8ef99;
	color:black;
    text-shadow: black;
	}
	.form-group{
	margin-bottom: 15px;
}
.split {
	height: 100%;
width: 30%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

.left {

background-color: #0b413e	;
height: 100%;
opacity:0.9

}

.centered {
position: relative;
top: 70%;
left: 70%;
transform: translate(-50%, -50%);


}

ol {
list-style-type: none;
float:top;

padding: 0;
overflow: hidden;
border: 1px solid #e7e7e7;
background-color: #daefe8;
}
li {
float: center;
display: block;
color: #666;
text-color:black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.content{
	background-color: #ddd;	
}
li a {
display: block;
color: #666;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #ddd;
}

li a.active {
color: white;
background-color: #4CAF50;
}
.buttn{
background-color: #ddd;

}
.button {
background-color: #daefe8; /* Green */
border: none;
color:black;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navbar a:hover {
	background: #ddd;
	color: black;
  }
  table {
	  float:center;
	border:2px;
	width: 70%;
	background-color:#c8ef99;
  }
  
  th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid black;
  }
 </style>