 @import '~antd/dist/antd.css'; 
.main{
  background-color:white;
}
.iconContainer{
  display: flex;
width: 255px;
height:40px;
background-color: rgb(248, 241, 241);
border:1px solid rgb(207, 202, 202);
margin:10px;
}
.iconItem{
  margin-left: 27px; 
width:100px;
color:black;
text-align: left;
margin-top:12px;
border:1  px solid black;
background-color: rgb(248, 241, 241);
}
.formdiv{
 
  padding: 10px; 
  padding: 12px 20px;
  margin-left: 10px ;
  margin:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.mainform
{
  text-align: center;
}

.container{
  display: flex;
  flex-wrap: wrap ;
  
  justify-content: space-around;
  ]
  margin: 0 auto;
  /* width:1200px */
}
.detail{
  margin:10px;
  
}
.iconheart{
  
  color:red;
  margin-left: 27px; 
  margin-top:12px;
width:100px;

text-align: left;
border:1  px solid black;
background-color: rgb(248, 241, 241); 
}

.itemflex{
  background-color:white;
  text-indent: 0ch;
  width: 254px;
  margin: 10px;
  border: 1px solid rgb(216, 213, 213);

  /* text-align: left; */
 
}
.imageflex{
  width:252px;
  background-color: rgb(248, 241, 241);
}
button{
  width: 100px;
  height: 50px;
  position: relative;
}

