<Style>
#playground-container {
    height: 400px;	
}
body, html{
     height: 100%;
	background-repeat:repeat;
 	background-image:url('aa.jpeg');
	 background-size:cover;
    background-position: center; 
	background-attachment: fixed;
}
.main{
 	margin:85px 50px;
	opacity:0.4
	}
	
.main-center{
 	margin-top: 80px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:black;
	color: #fff;
    text-shadow: black;
	}
	.form-group{
	margin-bottom: 15px;
}
.split {
	height: 100%;
width: 30%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

.left {

background-color: #0b413e	;
height: 100%;
opacity:0.9

}

.centered {
position: relative;
top: 50%;
left: 70%;
transform: translate(-50%, -50%);


}
	.centered img {
		width: 150px;
		border-radius: 50%;
	  }


ol {
list-style-type: none;
float:right

padding: 0;
overflow: hidden;
border: 1px solid #e7e7e7;
background-color: #daefe8;
}
li {
float: center;
display: block;
color: #666;
text-color:black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.content{
	background-color: #ddd;	
}
li a {
display: block;
color: #666;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #ddd;
}

li a.active {
color: white;
background-color: #4CAF50;
}
.buttn{
background-color: #ddd;

}
.button {
background-color: #daefe8; /* Green */
border: none;
color:black;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
	
 </style>